* {
  box-sizing: border-box;
}

:root {
  --color-primary: #171100;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common - Thành Phần Dùng Chung */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  background: #171100;
  border-radius: 24.5px;
}

.btn:hover {
  opacity: 0.9;
}
/* Header */
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
  height: 100px;
  background: #fffcf4;
  padding-bottom: 10px;
}

.header .body {
  padding: 36px 8px 10px;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::before {
  position: absolute;
  display: inline-block;
  bottom: 4px;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .sign-up-btn {
  margin-left: 49px;
  min-width: 144px;
}

/* Hero */
.hero-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh);
  background: #fffcf4;
}

.hero-wrap .hero {
  display: flex;
  justify-content: space-between;
}

.hero .img-big img {
  width: 470px;
  height: 685px;
  object-fit: cover;
}

.hero .info {
  width: 470px;
  max-width: 470px;
  margin: 64px 0 63px;
}

.hero .info .title {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .info .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.hero .info .cta {
  margin: 38px 0 48px 0;
  display: flex;
  align-items: center;
}

.hero .info .cta .btn-cta {
  padding: 17px 33px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  border-radius: 32px;
  background: #ffb900;
}

.hero .img-big {
  border-radius: 20px;
}

.info .desc-span {
  margin-top: 48px;
}

.info .cta-img {
  display: inline-block;
  margin-left: 28px;
  margin-top: 17px;
}

.info .cta-video {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
}

.info .report {
  margin-top: 8px;
}

.info .report img:last-child {
  margin-left: 28px;
}

.hero .img-big img {
  position: relative;
  border-radius: 24px;
}

.hero .info-img-big {
  display: block;
  position: absolute;
  bottom: 13%;
  left: 31.5%;
  width: 270px;
  height: 244px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.info-img-big .icon {
  max-width: 48px;
  max-height: 48px;
  padding: 12px;
  background: #fff;
  border-radius: 50%;
  margin-right: 16px;
}

.around-info .row-info {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  max-width: 188px;
}

.around-info .row-info.info1 {
  margin-bottom: 14px;
}

.around-info .row-info.info2 {
  margin-bottom: 14px;
}

.row-info.sound-row {
  padding-bottom: 24px;
}

.around-info {
  margin: 24px 58px 24px 24px;
}

.info-img-big .sub-row {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.info-img-big .sub-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.around-info .icon1 {
  background: #fff9e8;
}

.around-info .icon2 {
  background: #fcefff;
}

.around-info .icon3 {
  background: #ebeaff;
}

/* ==== Popular === */
.popular {
  margin-top: 200px;
}

.popular .main-content {
  height: 645px;
}

.popular .header-popular {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header-popular .info {
  width: 458px;
  max-width: 458px;
}

.header-popular .sub-title {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}

.header-popular .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.popular .arrow {
  position: absolute;
  bottom: 42px;
  right: 0;
}

.popular .arrow img {
  padding: 13px 16px;
  border-radius: 50%;
}

.popular .arrow-left {
  border: 1px solid #ffb900;
}

.popular .arrow-right {
  margin-left: 14px;
  border: 1px solid #fff;
  background: #ffb900;
}

.popular .list-items {
  margin-top: 55px;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.popular .items img {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular-info {
  padding: 16px 22px 22px;
}

.popular .mini-content {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.popular-info .desc {
  margin-top: 6px;
  width: 326px;
  height: 52px;
  max-width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.popular-info .cta {
  margin-top: 12px;
}

.popular-info .cta .panda-first {
  background: #ffb900;
}

.popular-info .popular-btn {
  padding: 12px 0;
  margin-left: 141px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
  border-radius: 25px;
  background: #171100;
}

.popular-info .cta span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.popular-info .info-start {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  width: 326px;
  max-width: 326px;
  display: flex;
  justify-content: space-between;
}

.popular-info .info-start img {
  position: absolute;
  right: 0;
}

.popular-info .info-sub-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

/* ==== Feedback === */
.feedback {
  margin-top: 200px;
  background: #2e2100;
  height: 388px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback .avatar {
  object-fit: cover;
  border-radius: 50%;
}

.feedback .main-content {
  display: flex;
  justify-content: space-between;
}

.feedback .main-content .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
}

.feedback .main-content .sub-name {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.feedback .main-content .desc {
  width: 740px;
  max-width: 740px;
  margin-left: 30px;
  font-family: Poppins;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
}

.feedback .main-content .char {
  margin-top: 28px;
}

/* === features === */

.features {
  margin-top: 200px;
}

.features .main-content {
  display: flex;
  justify-content: space-between;
}

.features .double-img {
  display: flex;
  width: 570px;
  max-width: 570px;
  height: 438px;
  position: relative;
}

.features .double-img .img1 {
  position: relative;
  position: absolute;
  left: 0;
  bottom: 0;
}

.features .double-img .img2 {
  position: absolute;
  right: 0;
  top: 0;
}

.features .double-img .img {
  width: 270px;
  max-width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}

.features .sub-title {
  margin-top: 58px;
  width: 470px;
  max-width: 470px;
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}

.features .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.features .btn-features {
  width: 137px;
  margin-top: 32px;
  border-radius: 26px;
  background: #ffb900;
}

/* features-reverse */
.features-reverse .info .sub-title,
.features-reverse .desc {
  width: 570px;
  max-width: 570px;
}

.features-reverse .btn {
  margin-bottom: 71px;
}

.features .img-features-reverse {
  width: 470px;
  max-width: 470px;
  object-fit: cover;
  border-radius: 20px;
}

/* Blog */

.blog {
  margin-top: 200px;
  height: 878px;
  background: #fffcf4;
}

.blog .main-content {
  position: relative;
  padding: 96px 0;
  width: 1170px;
  height: 686px;
}

.blog .main-content .title {
  display: block;
  width: 448px;
  height: 120px;
  margin: 0 auto 0;
}

.blog .title .sub-title {
  color: #130606;
  text-align: center;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
}

.blog .title .desc {
  margin-top: 12px;
  color: #696262;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.blog .main-content .title .sub-title {
}
.blog .list-items {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.blog .items {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 370px;
  height: 467px;
}

.blog .items img {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blog .info {
  margin: 20px 20px 28px 20px;
}

.blog .info .rectangle {
  margin-top: 12px;
  width: 160px;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog .info .items {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.blog .times .time {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.blog .info .times {
  display: flex;
  align-items: center;
}

.blog .info .first-time {
  margin-right: 4px;
  width: 6px;
  height: 6px;
  background: #ffb900;
  border-radius: 50%;
}

.blog .info .desc {
  margin-top: 12px;
  color: #171100;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.blog .dot {
  display: inline-block;
  width: 30px;
  height: 6px;
  margin: 38px 580px 96px;
}

/* Footer */
.footer {
  height: 428px;
  background: #2e2100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .main-content {
  height: 304px;
  margin: auto auto;
  margin-top: 96px;
}

.footer .main-content hr {
  width: 1170px;
  height: 1px;
  background: #59554b;
}

.footer .big-info {
  display: flex;
  justify-content: space-between;
}

.footer .info .desc {
  margin-top: 18px;
  width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.footer .contact {
  margin-top: 18px;
  width: 111px;
  display: flex;
  justify-content: space-between;
}

.footer .rectangle {
  margin-top: 14px;
  width: 130px;
  height: 1px;
  background: #59554b;
}

.footer .list-items span {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.footer .list-items li a {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.footer .company .sub-title,
.support .sub-title,
.address .sub-title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.footer .list-items {
  margin: 28px 0 38px;
}

.footer .list-items li {
  margin-top: 12px;
}

.footer .hr {
  width: 1170px;
  height: 1px;
  background: #59554b;
}

.footer .scourse {
  width: 357px;
  margin: 28px auto;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}

.footer .address .list-items a span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
}

.footer .address .list-items .location {
  display: inline-block;
  width: 231px;
  margin-top: 0;
}

.footer .address .list-items a {
  margin-top: 12px;
}

.footer .info .img:hover {
  opacity: 0.3;
}
